flows.json
[{"id":"9dc0849fb6220bf2","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"7b4f49bf865ee742","type":"ui_tab","name":"knapp","icon":"dashboard","disabled":false,"hidden":false},{"id":"fdb6182bcb5f5068","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"58615d787f6d8c15","type":"ui_group","name":"1","tab":"7b4f49bf865ee742","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ebfd8f03.fe566","type":"ui_group","name":"G2","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"bbab2560.6f8948","type":"ui_group","name":"G1","tab":"13731dc0.622ff2","order":1,"disp":true,"width":"10","collapse":false},{"id":"13731dc0.622ff2","type":"ui_tab","name":"HOME","icon":"dashboard","disabled":false,"hidden":false},{"id":"b3b24836.3352e","type":"ui_group","name":"Default","tab":"bc04eabe.80991","order":1,"disp":true,"width":"6","collapse":false},{"id":"a4f540ce.615ef8","type":"ui_group","name":"Richer Table","tab":"f0c59cb8.e22248","order":1,"disp":false,"width":"12","collapse":false,"className":""},{"id":"bc04eabe.80991","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f0c59cb8.e22248","type":"ui_tab","name":"lista","icon":"track_changes","order":1,"disabled":false,"hidden":false},{"id":"e26e08ac.86471","type":"inject","z":"9dc0849fb6220bf2","name":"röd","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"title\":\"RÖD\",\"Color\":\"red\"}]","payloadType":"json","x":410,"y":120,"wires":[["233035635bac315d"]]},{"id":"17a97628.08ac22","type":"ui_table","z":"9dc0849fb6220bf2","group":"a4f540ce.615ef8","name":"People","order":1,"width":"12","height":"2","columns":[{"field":"title","title":"","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Color","title":"","width":"90%","align":"center","formatter":"color","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1180,"y":120,"wires":[]},{"id":"1bb7ddbd0ae29f11","type":"inject","z":"9dc0849fb6220bf2","name":"grön","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"title\":\"GRÖN\",\"Color\":\"green\"}]","payloadType":"json","x":410,"y":200,"wires":[["233035635bac315d"]]},{"id":"233035635bac315d","type":"counter","z":"9dc0849fb6220bf2","name":"","init":"0","step":"1","lower":null,"upper":"8","mode":"increment","outputs":"1","x":760,"y":320,"wires":[["3173e1abdc0e67d4"]]},{"id":"3173e1abdc0e67d4","type":"switch","z":"9dc0849fb6220bf2","name":"","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":11,"x":930,"y":300,"wires":[["17a97628.08ac22"],["928a0418c26042ff"],["a50e0ff17f4ea3ea"],["126d1b2ccfdb7b23"],["a8135d2fd29b54cc"],["44a056ff859cf186"],["972d56151dbff0f9"],["b25d54503fcd2150"],["8eeccf66075cfbda"],["326f67ca64be48e2"],["17a97628.08ac22","928a0418c26042ff","a50e0ff17f4ea3ea","126d1b2ccfdb7b23","a8135d2fd29b54cc","44a056ff859cf186","972d56151dbff0f9","b25d54503fcd2150","8eeccf66075cfbda","326f67ca64be48e2"]]},{"id":"928a0418c26042ff","type":"ui_table","z":"9dc0849fb6220bf2","group":"a4f540ce.615ef8","name":"People","order":1,"width":"12","height":"1","columns":[{"field":"title","title":"","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Color","title":"","width":"90%","align":"center","formatter":"color","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1180,"y":160,"wires":[]},{"id":"a50e0ff17f4ea3ea","type":"ui_table","z":"9dc0849fb6220bf2","group":"a4f540ce.615ef8","name":"People","order":1,"width":"12","height":"1","columns":[{"field":"title","title":"","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Color","title":"","width":"90%","align":"center","formatter":"color","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1180,"y":200,"wires":[]},{"id":"126d1b2ccfdb7b23","type":"ui_table","z":"9dc0849fb6220bf2","group":"a4f540ce.615ef8","name":"People","order":1,"width":"12","height":"1","columns":[{"field":"title","title":"","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Color","title":"","width":"90%","align":"center","formatter":"color","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1180,"y":240,"wires":[]},{"id":"a8135d2fd29b54cc","type":"ui_table","z":"9dc0849fb6220bf2","group":"a4f540ce.615ef8","name":"People","order":1,"width":"12","height":"1","columns":[{"field":"title","title":"","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Color","title":"","width":"90%","align":"center","formatter":"color","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1180,"y":280,"wires":[]},{"id":"44a056ff859cf186","type":"ui_table","z":"9dc0849fb6220bf2","group":"a4f540ce.615ef8","name":"People","order":1,"width":"12","height":"1","columns":[{"field":"title","title":"","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Color","title":"","width":"90%","align":"center","formatter":"color","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1180,"y":320,"wires":[]},{"id":"c05ab9316976535e","type":"inject","z":"9dc0849fb6220bf2","name":"Blå","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"title\":\"BLÅ\",\"Color\":\"blue\"}]","payloadType":"json","x":410,"y":280,"wires":[["233035635bac315d"]]},{"id":"ed20a74ee7d82354","type":"inject","z":"9dc0849fb6220bf2","name":"Orange","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"title\":\"ORANGE\",\"Color\":\"orange\"}]","payloadType":"json","x":410,"y":360,"wires":[["233035635bac315d"]]},{"id":"2e58c1ee4ebc36d7","type":"inject","z":"9dc0849fb6220bf2","name":"Lila","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"title\":\"LILA\",\"Color\":\"purple\"}]","payloadType":"json","x":410,"y":440,"wires":[["233035635bac315d"]]},{"id":"64279d0bf3e7d2b7","type":"inject","z":"9dc0849fb6220bf2","name":"clear","props":[{"p":"payload"},{"p":"reset","v":"foo","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"title\":\" \",\"Color\":\"white\"}]","payloadType":"json","x":390,"y":680,"wires":[["233035635bac315d"]]},{"id":"8e30580c0b1010cd","type":"ui_button","z":"9dc0849fb6220bf2","name":"","group":"58615d787f6d8c15","order":1,"width":0,"height":0,"passthru":false,"label":"RED","tooltip":"","color":"","bgcolor":"red","className":"","icon":"","payload":"[{\"title\":\"RED\",\"Color\":\"red\"}]","payloadType":"json","topic":"topic","topicType":"msg","x":230,"y":80,"wires":[["ba6fddedabebf74d"]]},{"id":"db79e8310f96e18b","type":"ui_button","z":"9dc0849fb6220bf2","name":"","group":"58615d787f6d8c15","order":3,"width":0,"height":0,"passthru":false,"label":"GREEN","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"[{\"title\":\"GREEN\",\"Color\":\"green\"}]","payloadType":"json","topic":"topic","topicType":"msg","x":220,"y":160,"wires":[["12e41d89a08ba138"]]},{"id":"796a2fc804356954","type":"ui_button","z":"9dc0849fb6220bf2","name":"","group":"58615d787f6d8c15","order":7,"width":0,"height":0,"passthru":false,"label":"BLUE","tooltip":"","color":"","bgcolor":"blue","className":"","icon":"","payload":"[{\"title\":\"BLUE\",\"Color\":\"blue\"}]","payloadType":"json","topic":"topic","topicType":"msg","x":230,"y":240,"wires":[["7c69b67247c00596"]]},{"id":"ddf6a38a273b2ab5","type":"ui_button","z":"9dc0849fb6220bf2","name":"","group":"58615d787f6d8c15","order":2,"width":0,"height":0,"passthru":false,"label":"GOLD","tooltip":"","color":"","bgcolor":"gold","className":"","icon":"","payload":"[{\"title\":\"GOLD\",\"Color\":\"gold\"}]","payloadType":"json","topic":"topic","topicType":"msg","x":210,"y":320,"wires":[["6a4d73c834c4da7e"]]},{"id":"c45cd29e82d59045","type":"ui_button","z":"9dc0849fb6220bf2","name":"","group":"58615d787f6d8c15","order":4,"width":0,"height":0,"passthru":false,"label":"BROWN","tooltip":"","color":"","bgcolor":"brown","className":"","icon":"","payload":"[{\"title\":\"BROWN\",\"Color\":\"brown\"}]","payloadType":"json","topic":"topic","topicType":"msg","x":220,"y":400,"wires":[["753f38cfa6f68ca8"]]},{"id":"f61d96c10cbd4e00","type":"ui_button","z":"9dc0849fb6220bf2","name":"","group":"58615d787f6d8c15","order":8,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"black","bgcolor":"white","className":"","icon":"","payload":"[{\"title\":\" \",\"Color\":\"white\"}]","payloadType":"json","topic":"topic","topicType":"msg","x":210,"y":640,"wires":[["50ad399d8299fa75"]]},{"id":"972d56151dbff0f9","type":"ui_table","z":"9dc0849fb6220bf2","group":"a4f540ce.615ef8","name":"People","order":1,"width":"12","height":"1","columns":[{"field":"title","title":"","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Color","title":"","width":"90%","align":"center","formatter":"color","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1180,"y":360,"wires":[]},{"id":"b25d54503fcd2150","type":"ui_table","z":"9dc0849fb6220bf2","group":"a4f540ce.615ef8","name":"People","order":1,"width":"12","height":"1","columns":[{"field":"title","title":"","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Color","title":"","width":"90%","align":"center","formatter":"color","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1180,"y":400,"wires":[]},{"id":"8eeccf66075cfbda","type":"ui_table","z":"9dc0849fb6220bf2","group":"a4f540ce.615ef8","name":"People","order":1,"width":"12","height":"1","columns":[{"field":"title","title":"","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Color","title":"","width":"90%","align":"center","formatter":"color","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1180,"y":440,"wires":[]},{"id":"326f67ca64be48e2","type":"ui_table","z":"9dc0849fb6220bf2","group":"a4f540ce.615ef8","name":"People","order":1,"width":"12","height":"1","columns":[{"field":"title","title":"","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Color","title":"","width":"90%","align":"center","formatter":"color","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1180,"y":480,"wires":[]},{"id":"ba6fddedabebf74d","type":"change","z":"9dc0849fb6220bf2","name":"","rules":[{"t":"delete","p":"event","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"},{"t":"delete","p":"socketid","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":80,"wires":[["233035635bac315d"]]},{"id":"12e41d89a08ba138","type":"change","z":"9dc0849fb6220bf2","name":"","rules":[{"t":"delete","p":"event","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"},{"t":"delete","p":"socketid","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":160,"wires":[["233035635bac315d"]]},{"id":"7c69b67247c00596","type":"change","z":"9dc0849fb6220bf2","name":"","rules":[{"t":"delete","p":"event","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"},{"t":"delete","p":"socketid","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":240,"wires":[["233035635bac315d"]]},{"id":"6a4d73c834c4da7e","type":"change","z":"9dc0849fb6220bf2","name":"","rules":[{"t":"delete","p":"event","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"},{"t":"delete","p":"socketid","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":320,"wires":[["233035635bac315d"]]},{"id":"753f38cfa6f68ca8","type":"change","z":"9dc0849fb6220bf2","name":"","rules":[{"t":"delete","p":"event","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"},{"t":"delete","p":"socketid","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":400,"wires":[["233035635bac315d"]]},{"id":"50ad399d8299fa75","type":"change","z":"9dc0849fb6220bf2","name":"","rules":[{"t":"delete","p":"event","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"},{"t":"delete","p":"socketid","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"},{"t":"set","p":"reset","pt":"msg","to":"foo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":640,"wires":[["233035635bac315d"]]},{"id":"61efdade77b79a82","type":"ui_button","z":"9dc0849fb6220bf2","name":"","group":"58615d787f6d8c15","order":5,"width":0,"height":0,"passthru":false,"label":"PINK","tooltip":"","color":"","bgcolor":"pink","className":"","icon":"","payload":"[{\"title\":\"PINK\",\"Color\":\"pink\"}]","payloadType":"json","topic":"topic","topicType":"msg","x":210,"y":480,"wires":[["a6f1150fd2234a44"]]},{"id":"a6f1150fd2234a44","type":"change","z":"9dc0849fb6220bf2","name":"","rules":[{"t":"delete","p":"event","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"},{"t":"delete","p":"socketid","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":480,"wires":[["233035635bac315d"]]},{"id":"eba39ba3cfd525ec","type":"ui_button","z":"9dc0849fb6220bf2","name":"","group":"58615d787f6d8c15","order":6,"width":0,"height":0,"passthru":false,"label":"SILVER","tooltip":"","color":"","bgcolor":"silver","className":"","icon":"","payload":"[{\"title\":\"SILVER\",\"Color\":\"silver\"}]","payloadType":"json","topic":"topic","topicType":"msg","x":220,"y":540,"wires":[["c12e97dd08ba9383"]]},{"id":"c12e97dd08ba9383","type":"change","z":"9dc0849fb6220bf2","name":"","rules":[{"t":"delete","p":"event","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"},{"t":"delete","p":"socketid","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":540,"wires":[["233035635bac315d"]]}]